
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-12">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img class="card-img" src="/assets/imagenProductosInicio.png" alt="Imagen productos" height="278px">
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title">Productos</h5>
                <p class="card-text">Tenemos cientos de productos para ofrecerte, miles de vendedores
                  <br> ¡Y cada uno con una oferta distinta!
                  <br> No desaproveches esta oportunidad y conseguí eso que siempre quisiste
                </p>
                <a class="btn btn-warning bg-color3 text-dark" (click)="buscarProductos()">Ya tengo cuenta</a>
                <a href="#" class="btn btn-warning bg-color3 text-dark">Soy nuevo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col col-md-12">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img class="card-img" src="/assets/proveedor.jpg" alt="Imagen Proveedor">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Proveedores</h5>
                <p class="card-text">Conoce a los que trabajan dia a dia para ofrecerte calidad y precio al mismo
                  tiempo
                </p>
                <a href="#" class="btn btn-warning bg-color3 text-dark"> Ver sección</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col col-md-12">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img class="card-img" src="/assets/vendedor.jpg" alt="Imagen Cajero" height="279px">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Vendedores</h5>
                <p class="card-text">¿Queres conocer a nuestros mayores vendedores? <br> ¿Queres asociarte con
                  nosotros? <br>
                  ¡Ingresa aca!
                </p>
                <a href="#" class="btn btn-warning bg-color3 text-dark"> Soy vendedor</a>
                <a href="#" class="btn btn-warning bg-color3 text-dark"> Quiero asociarme</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
