<footer class="footer">
  <div class="container">
      <div class="row mb-2">
          <div class="col">
              <p class="lh-base"> <br> Terminos y condiciones<br> Ayuda<br> Más informacion </p>
          </div>
          <div class="col"> <p class="lh-base"><br> 
              Esta pagina solo es una practica, para ver más escaneá el codigo QR.</p> </div>
          <div class="col text-right">
              <img src="/assets/qr.png" alt="Codigo QR" height="100px">
          </div>
      </div>
  </div>
</footer>