<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="productos.html">Productos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Producto</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/noImage.jpg" alt="Imagen Producto">
        </div>
        <div class="col">
            <h3>{{elProducto?.descripcion}}</h3>
            <h5>Vendedor</h5>
            <h6>Proveedor</h6>
            <p>Esto es un texto de descripcion de producto donde se habla sobre las caracteristicas del mismo y de
                la calidad que da el proveedor, por ejemplo.</p>
            <h4>${{elProducto?.precio}}</h4>
            <h6>Stock: {{elProducto?.stock}}</h6>
            <form [formGroup]="formulario!" (ngSubmit)="agregarAlCarrito()"><label for="">Cantidad:</label><input class="inputCantidad" type="number" formControlName="cantidad"> <br>
            <button type="submit" class="btn btn-primary text-light espaciado">Agregar al Carrito</button>
            
            <a (click)="borrar()" class="btn btn-primary text-light espaciado">Borrar Articulo</a>
            <a [routerLink]="['/editarProducto', elProducto?.descripcion]" class="btn btn-primary text-light espaciado">Editar</a></form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr scope="col">
                        <h3>Caracteristicas</h3>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dimensiones: 10x10x5 cm</td>
                    </tr>
                    <tr>
                        <td>Peso: 10kg</td>
                    </tr>
                    <tr>
                        <td>Materiales: Plastico</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr scope="col">
                        <h3>Informacion del Vendedor</h3>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre: Roberto Suarez</td>
                    </tr>
                    <tr>
                        <td>Ventas: 25065</td>
                    </tr>
                    <tr>
                        <td><a href="#">Perfil</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>