$color1: #6F7239; /*verde suave*/
$color2: #E7E8E3; /*celeste claro */
$color3: #DFE27C; /* Azul oscuro */
$color4: #A2B6B5; /* Naranja claro */

.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

.color4 {
    color: $color4;
}

.bg-color1 {
    background-color: $color1;
}

.bg-color2 {
    background-color: $color2;
}

.bg-color3 {
    background-color: $color3;
}

.bg-color4 {
    background-color: $color4;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100;
  line-height: 20px; /* Vertically center the text there */
  background-color: $color1;
}

.card{
  background-color: $color2;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  margin-top: 40px;
  margin-bottom: 120px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
